@use "../../util/variables" as color;

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  min-height: 10%;
  z-index: 2;
  & .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    & h1 {
      font-weight: 800;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.header-dark {
  background-color: color.$dark-blue;
  color: color.$white;
}

.header-light {
  background-color: white;
  color: color.$very-dark-blue-text;
}

@media screen and (max-width: 375px) {
  .header-wrapper {
    & .header {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      & h1 {
        font-weight: 800;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}
