.filter {
  position: relative;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  width: 13%;
  background: white;
  height: 3.5rem;
  padding: 0 1.25rem;

  & .filter-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & .filter-options {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    right: 0;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background: white;
    z-index: 1;

    & ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & li {
        font-weight: 400;
        font-size: 1.25rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &:hover {
      cursor: default;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.filter-open {
  display: flex;
}

.filter-closed {
  display: none;
}

@media screen and (max-width: 375px) {
  .filter {
    width: auto;
  }
}
