@use "../../util/variables" as v;

.dark-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  & svg {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  & span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
  }
  &:hover {
    cursor: pointer;
  }
}

.toggle-light {
  color: v.$very-dark-blue-text;
}

.toggle-dark {
  color: v.$white;
}

@media screen and (max-width: 375px) {
  .dark-toggle {
    & svg {
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }

    & span {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}
