@use "../../util/variables" as colors;
.country-wrapper {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;

  & .country-data {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: center;

    & img {
      width: 43.75%;
      border-radius: 10px;
    }

    & .country-info {
      width: 56.25%;
      & h1 {
        font-weight: 800;
        font-size: 3rem;
      }

      & div {
        display: flex;
        flex-direction: row;
        gap: 10rem;

        & ul {
          list-style-type: none;
          padding: 0;
          & span {
            font-weight: 600;
          }
        }
      }
    }
    & .border-countries-wrapper {
      margin-top: 4.25rem;
      & span {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      & .border-countries {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
      }
    }
  }
}

.country-light {
  color: colors.$very-dark-blue-text;
}
.country-dark {
  color: colors.$white;
}
