@use "./util/variables" as colors;

.App {
  height: 100vh;
  overflow: auto;
}

.background-dark {
  background-color: colors.$very-dark-blue-bg;
}
.background-light {
  background-color: colors.$very-light-gray;
}
